# Publishes to the Bazel Central Registry.
name: "Publish to the Bazel Central Registry"

on:
  # Run from release.yml.
  workflow_call:
    inputs:
      tag_name:
        required: true
        type: string

  # In case of problems, enable manual dispatch from the GitHub UI.
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string

jobs:
  publish-to-bcr:
    uses: "bazel-contrib/publish-to-bcr/.github/workflows/publish.yaml@v1.1.0"
    with:
      tag_name: "${{ inputs.tag_name }}"
      registry_fork: "EngFlow/bazel-central-registry"
      draft: false
      attest: false
      # Use `@engflow-automation-public` as public-facing identity in pushes to
      # BCR via `.github/workflows/publish-to-bcr.yaml`.
      author_name: "EngFlow Inc."
      author_email: "engflow-github-automation+public@engflow.com"
    permissions:
      attestations: write
      contents: write
      id-token: write
    secrets:
      publish_token: "${{ secrets.ENGFLOW_AUTOMATION_PUBLIC_PAT }}"
